.write-reviews {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .write-reviews .div {
    background-color: #fbfbfb;
    height: 2656px;
    position: relative;
    width: 1728px;
  }
  
  .write-reviews .frame {
    align-items: center;
    border: 1px solid;
    border-color: #a9a7a7;
    border-radius: 80px;
    display: flex;
    height: 78px;
    justify-content: space-between;
    left: 408px;
    padding: 21px 46px;
    position: absolute;
    top: 548px;
    width: 912px;
  }
  
  .write-reviews .text-wrapper {
    color: #a9a9a9;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .write-reviews .img {
    height: 32px;
    position: relative;
    width: 32px;
  }
  
  .write-reviews .frame-wrapper {
    background-color: #4169e1;
    height: 458px;
    left: 0;
    position: absolute;
    top: 2198px;
    width: 1728px;
  }
  
  .write-reviews .frame-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    left: 655px;
    position: relative;
    top: 139px;
  }
  
  .write-reviews .image-removebg {
    height: 120px;
    object-fit: cover;
    position: relative;
    width: 147px;
  }
  
  .write-reviews .p {
    color: #ffffff;
    font-family: "Urbanist-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .text-wrapper-2 {
    color: #000000;
    font-family: "Urbanist-ExtraBold", Helvetica;
    font-size: 60px;
    font-weight: 800;
    left: 258px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 251px;
    width: 1212px;
  }
  
  .write-reviews .frame-3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 104px;
    position: absolute;
    top: 774px;
    width: 1520px;
  }
  
  .write-reviews .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  
  .write-reviews .text-wrapper-3 {
    color: #000000;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .text-wrapper-4 {
    color: #3f3f3f;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .frame-5 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #4169e1;
    border-radius: 40px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 14px;
    padding: 20px 32px;
    position: relative;
  }
  
  .write-reviews .text-wrapper-5 {
    color: #4169e1;
    font-family: "Urbanist-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    gap: 104px;
    left: 104px;
    position: absolute;
    top: 985px;
  }
  
  .write-reviews .frame-7 {
    height: 491px;
    position: relative;
    width: 596px;
  }
  
  .write-reviews .frame-8 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }
  
  .write-reviews .frame-9 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 56px;
    position: relative;
  }
  
  .write-reviews .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 48px;
    position: relative;
  }
  
  .write-reviews .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  
  .write-reviews .text-wrapper-6 {
    color: #000000;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .div-wrapper {
    align-items: flex-start;
    border: 1px solid;
    border-color: #b4b4b4;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 24px 20px;
    position: relative;
    width: 734px;
  }
  
  .write-reviews .text-wrapper-7 {
    color: #5b5b5b;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .write-reviews .text-wrapper-8 {
    color: #5b5b5b;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 694px;
  }
  
  .write-reviews .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
  }
  
  .write-reviews .frame-13 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #b4b4b4;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 24px 20px;
    position: relative;
    width: 352px;
  }
  
  .write-reviews .frame-14 {
    align-items: center;
    border: 1px solid;
    border-color: #b4b4b4;
    border-radius: 4px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding: 24px 20px;
    position: relative;
    width: 352px;
  }
  
  .write-reviews .material-symbols {
    height: 32px;
    margin-bottom: -4px;
    margin-top: -4px;
    position: relative;
    width: 32px;
  }
  
  .write-reviews .frame-15 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 22px;
    position: relative;
  }
  
  .write-reviews .frame-16 {
    border: 1.5px solid;
    border-color: #000000;
    border-radius: 4px;
    height: 28px;
    position: relative;
    width: 28px;
  }
  
  .write-reviews .text-wrapper-9 {
    color: #000000;
    font-family: "Urbanist-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 682px;
  }
  
  .write-reviews .frame-17 {
    align-items: center;
    background-color: #4169e1;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    height: 72px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 271px;
  }
  
  .write-reviews .text-wrapper-10 {
    color: #ffffff;
    font-family: "Urbanist-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .frame-18 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 104px;
    position: absolute;
    top: 29px;
    width: 1521px;
  }
  
  .write-reviews .image-removebg-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 349px;
  }
  
  .write-reviews .image-removebg-2 {
    height: 81px;
    object-fit: cover;
    position: relative;
    width: 97px;
  }
  
  .write-reviews .frame-19 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 72px;
    position: relative;
  }
  
  .write-reviews .text-wrapper-11 {
    color: #5b5b5b;
    font-family: "Urbanist-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .frame-20 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 43px;
    position: relative;
  }
  
  .write-reviews .akar-icons-search {
    height: 28px;
    position: relative;
    width: 28px;
  }
  
  .write-reviews .frame-21 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
  }
  
  .write-reviews .text-wrapper-12 {
    color: #4169e1;
    font-family: "Urbanist-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .write-reviews .frame-22 {
    align-items: center;
    background-color: #4169e1;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    height: 61px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 167px;
  }
  
  
  @import url("https://fonts.googleapis.com/css?family=Urbanist:500,700,600");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
        * {
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
        }
        html,
        body {
          margin: 0px;
          height: 100%;
        }
        /* a blue color as a generic focus style */
        button:focus-visible {
          outline: 2px solid #4a90e2 !important;
          outline: -webkit-focus-ring-color auto 5px !important;
        }
        a {
          text-decoration: none;
        }
  
  